html {
  background-color: #e6ded3;
}

nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #e6ded3;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #e67d77;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-right: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
  color: white;
}

.hero-wrapper {
  width: 100%;
  height: 300px;
  background-image: url(../imgs/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-wrapper h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
}

.content-wrapper {
  width: 80%;
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: space-around;
}

.small-content {
  width: 300px;
  height: 180px;
  margin-bottom: 30px;
  position: relative;
}

.big-content {
  width: 40%;
  height: 240px;
  margin-bottom: 140px;
  position: relative;
}

.top-stripe {
  height: 22%;
  background-color: #56717a;
}

.bottom-box {
  height: 78%;
  background-color: #8d9ba0;
  display: flex;
  justify-content: space-around;
}

.bottom-box p {
  position: absolute;
  bottom: 0;
  width: fit-content;
}

.middle-content {
  width: 100%;
  height: fit-content;
  background-color: #b5897c;
  display: flex;
  justify-content: space-around;
}

.middle-content p {
  width: 60%;
  padding: 40px;
  text-align: center;
}

/* footer styling */

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #56717a;
}

.footer-text {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* responsive styling */

@media only screen and (max-width: 800px) {
  .content-block {
    width: 100%;
    margin-left: 0px;
  }

  .content-block p {
    width: 75%;
  }

  .content-wrapper {
    width: 100%;
    display: block;
  }
}
